body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 0.3px solid #81c5eb;
    background: rgba(255, 255, 255, 0.3);
    
}
.headerName h2 a{
    text-decoration: none;
    color: #000000;
}
.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 60px;

}
.nav-menu ul li a:hover{
    background-color: #81c5eb;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
}
.headerName h2{ 
    font-size: 30px;
    padding: 10px;
}
